<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <!-- viewport -->
    <meta name="viewport" content="width=device-width">
    
    <!-- iOS stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    
    <!-- For mobile browsers that do not recognize the viewport tag -->
    <meta name="MobileOptimized" content="320" />
    
    <title>Events App</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head>
<body>
	<div id="events" data-role="page" data-theme="b">
        <header data-role="header">
            <h1>AaltoMobile</h1>
            <a href="{% url launcher-index-view %}" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
        </header>
        
        <div data-role="content" id="list">
            <ul id="eventlist" data-role="listview" data-theme="b" data-divider-theme="d">
            </ul>
        </div>
        
        <footer data-role="footer" data-position="fixed">
            <p>T-111.5360 WWW Applications<br>Project work<br><a href="http://sci.aalto.fi/" target="_blank">Aalto University School of Science</a></p>
        </footer>
    </div>
</body>

<script>
$(document).ready(function(){
	console.log("lataus");
    $("body").append(
		$("<div />", {"id": "loadingIndicator"}).text("Loading")
    );

    $.ajax({
		url: "/api/events/?limit=10",
		type: "GET",
		dataType: "json",
		success: function(data) {
			if(!data.events) {
				console.log("Error, no events in data", data)
				return;
			}
			$("body").append($("<div>"));
			data.events.sort(compareDates);
			for(index in data.events) {
				event = data.events[index];
				var container = $("<li />");
				if(index != 0 && compareDates(data.events[index],data.events[index-1])) {
					console.log(index);
					container.addClass("ui-li-divider");
				}
				for(prop in event) {
				   container.append(
					$("<span />")
						.addClass(prop)
						.addClass("property")
						.addClass("hidden")
						.text(event[prop])
				  );
				}
				$(container.children("span").get(3)).removeClass("hidden");
				$("#list").children("ul").append(container);
				
			}
		$('#eventlist').listview('refresh');
	}, error: function(jqXHR, textStatus, errorThrown) {
	   	console.log(jqXHR, textStatus, errorThrown);
	}
    });
	
	function compareDates(evt1, evt2) {
		d1 = createDate(evt1.start_date);
		d2 = createDate(evt2.start_date);
		return d1.getTime()-d2.getTime();
	}
	
	function createDate(str) {
		regex = /(\d{4})-(\d\d)-(\d\d) (\d\d):(\d\d):(\d\d)/;
		date = regex.exec(str)
		return new Date(parseInt(date[1],10), parseInt(date[2],10)-1, parseInt(date[3],10), parseInt(date[4],10), parseInt(date[5],10), parseInt(date[6],10), 0);
	}
});

</script>
</html>