<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <!-- viewport -->
    <meta name="viewport" content="width=device-width">
    
    <!-- iOS stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    
    <!-- For mobile browsers that do not recognize the viewport tag -->
    <meta name="MobileOptimized" content="320" />
    
    <title>AaltoMobile > Events</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/events.css" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mobile.simpledialog.css" /> 
    
	<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script>
		$(document).bind("mobileinit", function() {
			$.mobile.listview.prototype.options.filterPlaceholder = "Search events ...";
		});
	</script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile.simpledialog2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/events.js"></script>
</head>
<body>
	<div id="events" data-role="page" data-theme="b">
        <div data-role="header">
            <h1>Events</h1>
            <a href="{% url launcher-index-view %}" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
            <a href="#goback" data-role="button" data-icon="back" data-iconpos="notext" data-rel="back" class="ui-btn-left">Go Back</a>
        </div>
        <div id="tabs" data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="{% url events-index-view %}" class="ui-btn-active" data-prefetch rel="external"><img src="{{ STATIC_URL }}img/events.png"/>Events</a></li>
                <li><a href="{% url eventsmap-index-view %}"  data-prefetch rel="external"><img src="{{ STATIC_URL }}img/events.png"/>Events map</a></li>
                <li><a href="{% url lunch-index-view %}" data-prefetch rel="external"><img src="{{ STATIC_URL }}img/lunch.png"/>Lunch</a></li>
            </ul>
        </div>
        
        <div data-role="content">
            <ul id="eventlist" data-role="listview" data-filter="true" data-theme="b" data-divider-theme="b"></ul>
        </div>
    </div>
</body>

<script>

/*$.getDocHeight = function(){
	var D = document;
	return Math.max(Math.max(D.body.scrollHeight,D.documentElement.scrollHeight), 
		Math.max(D.body.offsetHeight, D.documentElement.offsetHeight), 
		Math.max(D.body.clientHeight, D.documentElement.clientHeight));
};*/

$(document).bind('ready',function() {
	$("#eventlist").append("<div id='loading'><img src='{{ STATIC_URL }}img/ajax-loader.gif' /></div>");
	addScrollEffect();
	getEvents(999999);
});

$(document).bind( "pagebeforeload", function( event, data ){
	event.preventDefault();
	data.deferred.resolve( data.absUrl, data.options, "launcher" );
});

</script>
</html>