<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <!-- viewport -->
    <meta name="viewport" content="width=device-width">
    
    <!-- iOS stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    
    <!-- For mobile browsers that do not recognize the viewport tag -->
    <meta name="MobileOptimized" content="320" />
    
    <title>AaltoMobile</title>
    
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}launcher/touch-icon.png"/>
	<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}launcher/img/splash.png"/>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    
	<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
<body>
    
    <div id="launcher" data-role="page" data-theme="b">
    
        <header data-role="header">
            <h1>AaltoMobile</h1>
            <a href="{% url launcher-index-view %}" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
        </header>
        <div id="tabs" data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="{% url events-index-view %}" data-prefetch rel="external"><img src="../../static/launcher/img/events.png"/>Events</a></li>
                <li><a href="{% url lunch-index-view %}" data-prefetch rel="external"><img src="../../static/launcher/img/lunch.png"/>Lunch</a></li>
                <li><a class="ui-disabled" href="" data-prefetch rel="external"><img src="../../static/launcher/img/news.png"/>News</a></li>
            </ul>
        </div>
        
        <div data-role="content">
            
        </div>
        
        <footer data-role="footer" data-position="fixed">
            <p>T-111.5360 WWW Applications<br>Project work<br><a href="http://sci.aalto.fi/" target="_blank">Aalto University School of Science</a></p>
        </footer>
        
    </div>	

</body>

</html>