<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <!-- viewport -->
    <meta name="viewport" content="width=device-width">
    
    <!-- iOS stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    
    <!-- For mobile browsers that do not recognize the viewport tag -->
    <meta name="MobileOptimized" content="320" />
    
    <title>AaltoMobile > Home</title>
    
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}launcher/touch-icon.png"/>
	<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}launcher/img/splash.png"/>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    
	<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
    
<body>
    
    <div id="launcher" data-role="page" data-theme="b">
    
        <header data-role="header">
            <h1>AaltoMobile</h1>
            <a href="{% url launcher-index-view %}" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
        </header>
        <div id="tabs" data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="{% url events-index-view %}"  data-prefetch rel="external"><img src="{{ STATIC_URL }}img/events.png"/>Events</a></li>
                <li><a href="{% url lunch-index-view %}" data-prefetch rel="external"><img src="{{ STATIC_URL }}img/lunch.png"/>Lunch</a></li>
                <li><a class="ui-disabled" href="" data-prefetch rel="external"><img src="{{ STATIC_URL }}img/news.png"/>News</a></li>
            </ul>
        </div>
        
        <div id="content" data-role="content">
            
        </div>
        
        <footer data-role="footer" data-position="fixed">
            <p>T-111.5360 WWW Applications<br>Project work<br><a href="http://sci.aalto.fi/" target="_blank">Aalto University School of Science</a></p>
        </footer>
        
    </div>	
</body>

<script>

var localStorageKey = "favorite_restaurant_key";
var localStorageValue = "";
var d = new Date();
var weekday = d.getDay();

$(document).ready(function(){
	localStorageValue = getStoreValue();
	var ajax_url = "/api/lunch/search/?restaurant=" + localStorageValue + "&weekday=" + weekday;
		$.ajax({
		url: ajax_url,
		type: "GET",
		dataType: "json",
			success: function(data) {
			var lunch_data = "Ravintola on suljettu tai lounastietoja ei muusta syystä ole saatavilla.";
			lunch_data = getLunchLists(localStorageValue, data.lunchlists);
			var favorite_lunch = $("<div/>").attr({"id":'favorite_lunch'}).css({"background-color":"white", "margin":"4px", "padding": "1px 10px 6px 10px", "border-radius": "10px"})
			var favorite_lunchlist = $("<div/>").append(lunch_data);
			var favorite_lunchlist_header = $("<h4/>").append(localStorageValue + " tarjoaa tänään:").css({"margin-before": "5.33em"});
			favorite_lunch.append(favorite_lunchlist_header);
			favorite_lunch.append(favorite_lunchlist);
			$('#content').append(favorite_lunch);
			}				
		})
});

function getStoreValue() {
    var item = localStorage.getItem(localStorageKey);
    if (item != null && item.length != 0) {
		localStorageValue = item;
		}
		return item;
}

function getLunchLists(restaurant_name,lunchlists) {
		var lunch_data = "Lounastietoja ei saatavilla.";
		for(lunchlist in lunchlists) {
			if(restaurant_name == lunchlists[lunchlist].restaurant_id)
				lunch_data = '<ul>' + lunchlists[lunchlist].lunch + '</ul>'
		}
		return lunch_data;
	}
</script>

</html>