<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    
    <!-- viewport -->
    <meta name="viewport" content="width=device-width">
    
    <!-- iOS stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    
    <!-- For mobile browsers that do not recognize the viewport tag -->
    <meta name="MobileOptimized" content="320" />

    <title>AaltoMobile > Lunch</title> 
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}lunch/css/lunch.css" type="text/css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head> 
<body> 

<div id="campuslist" data-role="page" data-theme="d">
	<div data-role="header">
		<h1>Lunch</h1>

        <a href="{% url launcher-index-view %}" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
        <a href="#goback" data-role="button" data-icon="back" data-iconpos="notext" data-rel="back" class="ui-btn-left">Go Back</a>
		<div id="tabs" data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="{% url events-index-view %}" data-theme="b" data-prefetch rel="external"><img src="../../static/launcher/img/events.png"/>Events</a></li>
                <li><a href="{% url lunch-index-view %}" data-theme="e" data-prefetch rel="external"><img src="../../static/launcher/img/lunch.png"/>Lunch</a></li>
                <li><a class="ui-disabled" href="" data-theme="a" data-prefetch rel="external"><img src="../../static/launcher/img/news.png"/>News</a></li>
            </ul>
        </div>
	</div>
	<div data-role="content">	
		<ul data-role="listview">
			<li><a href="#otaniemi">Otaniemi</a></li>
            <li><a href="#toolo">Töölö</a></li>
			<li><a href="#keskusta">Keskusta</a></li>
            <li><a href="#kumpula">Kumpula</a></li>
            <li><a href="#arabia">Arabia</a></li>
            <li><a href="#viikki">Viikki</a></li>
		</ul>		
	</div><!-- /content -->
</div><!-- /page -->
</body>


<script>
$(document).ready(function(){
	
	var campuses = new Array("Otaniemi","Toolo","Keskusta","Kumpula","Arabia","Viikki");
	var launcherUrl = "{% url launcher-index-view %}";
	var d = new Date();
	var weekday = d.getDay();
			
	var content = $("<div />")
		.attr({'data-role':'content'})
		
	var restaurant_colset = $("<div />")
		.attr({"data-role":'collapsible-set'})
	

	for(campus in campuses){
		var header = $("<div />")
		.attr({"data-role":'header'})
		.append($("<h1 />")
			.text('Lunch - ' + campus)
			)
		.append($("<a />")
			.attr({"href":launcherUrl,"data-role":'button',"data-icon":'home',"data-iconpos":'notext',"class":'ui-btn-right'})
			.text('Home')
			)		
		var campusHtml = $("<div />")
	 		.attr({"data-role":'page',"id":campus,"data-theme":'b'});
		campusHtml.append(header); 
		
		$.ajax({
			url: "http://localhost:8000/api/lunch/search/",
			type: "GET",
			dataType: "json",
			success: function(data) {
				for(index in data.restaurants) {
					console.log(data.restaurants[index].campus)
					var restaurant = '<h3>' + data.restaurants[index].campus + '</h3>';
					restaurant_colset.append("<div data-role='collapsible' data-collapsed='true'>" + restaurant + "</div>")
					.trigger("create");
				}
				
			content.append(restaurant_colset);
			campusHtml.append(content);
			$('body').append(campusHtml)
			}	
		})
	}

		
});

</script>
</html>
