<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <!-- viewport -->
    <meta name="viewport" content="width=device-width">
    
    <!-- iOS stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    
    <!-- For mobile browsers that do not recognize the viewport tag -->
    <meta name="MobileOptimized" content="320" />
    
    <title>AaltoMobile - Events</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    
	<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head>
<body>

	<div id="events" data-role="page" data-theme="b">
    
        <header data-role="header">
            <h1>AaltoMobile - Events</h1>
            <a href="{% url launcher-index-view %}" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
        </header>
        
        <div data-role="content" id="list">
            <ul id="eventlist" data-role="listview" data-theme="b">
            </ul>
        </div>
        
        <footer data-role="footer" data-position="fixed">
            <p>T-111.5360 WWW Applications<br>Project work<br><a href="http://sci.aalto.fi/" target="_blank">Aalto University School of Science</a></p>
        </footer>
        
    </div>
    
</body>

<script>
$( '#events' ).live( 'pagebeforecreate',function(event){
    $("body").append(
		$("<div />", {"id": "loadingIndicator"}).text("Loading")
    );

    $.ajax({
	url: "/api/events/?limit=10",
	type: "GET",
	dataType: "json",
	success: function(data) {
	    if(!data.events) {
		console.log("Error, no events in data", data)
		return;
	    }
		$("body").append($("<div>"));
	    for(index in data.events) {
			event = data.events[index];
		
			var container = $("<li />");

			for(prop in event) {
		 	   container.append(
				$("<span />")
				    .addClass(prop)
				    .addClass("property")
					.addClass("hidden")
				    .text(event[prop])
		  	  );
			}
			$(container.children("span").get(0)).removeClass("hidden");
			$("#list").children("ul").append(container);
			
	    }
		$('#eventlist').listview('refresh');
	}, error: function(jqXHR, textStatus, errorThrown) {
	    console.log(jqXHR, textStatus, errorThrown);
	}
    });
});

</script>
</html>