@charset "UTF-8";
/* CSS Document */


.favorite_button {
	width:18px !important;
}

.ui-collapsible-content {
	font-size:11pt;
	font-family:Arial, Helvetica, sans-serif;
	font-shadow: 0 1px 0 white !important;
	background-color:white !important;
	margin-top: -4px !important;
	margin-bottom: -3px !important;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%) !important;
	background-image: -o-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%) !important;
	background-image: -moz-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%) !important;
	background-image: -webkit-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%) !important;
	background-image: -ms-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%) !important;
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, rgb(241,241,241)),
		color-stop(0.37, rgb(252,252,252))
	) !important;
}

.ui-collapsible-content ul {
	margin:4px !important;
	padding:6px !important;
}

.ui-collapsible-content li {
	margin-top:3px !important;
	margin-bottom:3px !important;	
}


