@charset "UTF-8";
/* CSS Document */

.ui-simpledialog-container h1, h2, h3 {
	font-size:1em;	
	margin: auto 1% 15px 1%
}

.ui-simpledialog-container p {
	font-size:0.8em !important;	
	margin:5px 2% 10px 2%;
	text-align:left;
}

.ui-simpledialog-container img  {
	display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-evt-icon-aalto {
		background-image: url("evt-icon.png") !important;
		background-size: 18px 18px !important;
	}
}

.ui-icon-evt-icon-aalto {
	background-image: url("evt-icon.png") !important;
}