@charset "UTF-8";
/* CSS Document */

.past {	
	display:none !important;
}

#loading img {
	position:relative;
	margin: 30px auto 20px auto;
	display:block;
}

.ui-input-search {
	float:left !important;
	display:inline !important;
	width:50% !important;
	max-width:155px !important;
}

.filters {
	position:relative !important;
	margin:0px 3px 0px 3px;	
	float:right;
}

.filter {
	height:32px;
	display:inline;
	float:right;
	margin: 5px 5px 5px 5px;
}

#ayy.active {
	background-image:url(../img/ayy_events_active.png);
	background-repeat:no-repeat;
}

#ayy.inactive {
	background-image:url(../img/ayy_events_inactive.png);
	background-repeat:no-repeat;
}

#AaltoEvents.active {
	background-image:url(../img/aalto_events_active.png);
	background-repeat:no-repeat;
}

#AaltoEvents.inactive {
	background-image:url(../img/aalto_events_inactive.png);
	background-repeat:no-repeat;
}

.ui-li-divider {
	font-size:0.8em !important;
	padding:6px !important;
}

.ui-simpledialog-container { word-wrap: break-word !important; }

.ui-simpledialog-container div.ui-header {
	margin:0 !important;
}

.ui-simpledialog-container div {
	font-size:12pt !important;	
	margin:5px 2% 10px 2%;
	text-align:left;
}

.ui-simpledialog-container a {
	color:#09F !important;	
}

.ui-simpledialog-container h1, h2, h3, h4, h5 {
	font-size:1em;	
	margin: 12px 2% 10px 2% !important;
}

.ui-simpledialog-container p {
	display:block;
	font-size:10pt !important;	
	margin:5px 2% 10px 2%;

}

.ui-simpledialog-container li {
	font-size:9pt !important;	
	margin-bottom:5px;
}

.ui-simpledialog-container img  {
	margin-left:auto;
	margin-right:auto;
	clear:both;
	text-align:center;
	display:block;
}

.ui-simpledialog-container .remote_url .ui-link {
	margin-top:15px;
	color:#096 !important;
}

div.ui-simpledialog-container div.ui-header {
	margin-bottom:10px !important;	
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-evt-icon-aalto {
		background-image: url("../img/evt-icon-aalto.png") !important;
		background-size: 18px 18px !important;
	}
	
	.ui-icon-evt-icon-ayy {
		background-image: url("../img/evt-icon-ayy.png") !important;
		background-size: 18px 18px !important;
	}
}

.ui-icon-evt-icon-aalto {
	background-image: url("../img/evt-icon-aalto.png") !important;
}

.ui-icon-evt-icon-ayy {
		background-image: url("../img/evt-icon-ayy.png") !important;
}