@charset "UTF-8";
/* CSS Document */

/* ---- GLOBAL STYLESHEET DEFINITIONS ----*/

body { background: black; color: white; font-weight: bold; }

a { text-decoration:none;}

.hidden {	
	display:none !important;
}

.visible {
	display:block;
}

/* ---- launcher page (check events/static/events/css 
and lunch/static/lunch/css for the subpage CSS files) ---- */

#credits { position:absolute !important; top:0 !important; left:0 !important; font-size:0.5em !important; text-align:left !important; line-height:1.4em !important; margin: 5px 0px 5px 5px !important; }

#credits a:hover {
	color:#0CF !important;	
}

#tabs a img {
	width:18px;
	height:18px;
	display:block;
	clear:both;
	margin:0px auto 5px auto;
}

#tabs a {
	font-size:0.8em;
}

#tabs span {
	padding: 0px auto 3px auto !important;	
}

#favorite_lunch {
	background-image: linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%);
	background-image: -o-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%);
	background-image: -moz-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%);
	background-image: -webkit-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%);
	background-image: -ms-linear-gradient(bottom, rgb(241,241,241) 3%, rgb(252,252,252) 37%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, rgb(241,241,241)),
		color-stop(0.37, rgb(252,252,252))
	);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

#favorite_lunch ul {
	padding:0 !important;	
	margin:0 !important;
}

#favorite_lunch div {
	font-family:Helvetica,Arial,sans-serif;
	font-size:9pt !important;
	font-shadow: 0 1px 0 white;
	font-weight:bold;
	color:#2F3E46;
	padding:5px 10px 10px 30px !important;
}

#favorite_lunch h4 {
	margin:0;
	padding:10px 10px 5px 10px !important;
	font-size:11pt !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-events {
		background-image:url(../img/events.png);
		background-size: 18px 18px;
	}
	
	.ui-icon-news {
		background-image:url(../img/news.png);
		background-size: 18px 18px;
	}
	
	.ui-icon-lunch {
		background-image:url(../img/lunch.png);
		background-size: 18px 18px;
	}
}