@charset "UTF-8";
/* CSS Document */

/* ---- GLOBAL STYLESHEET DEFINITIONS ----*/

body { background: black; color: white; font-weight: bold; }

a { text-decoration:none;}

footer p { float:right; font-size:0.5em; text-align:left;line-height:1.4em; margin-right:2%; }

footer p a:hover {
	color:#0CF !important;	
}

.hidden {	
	display:none;
}

/* ---- launcher page (check events/static/events/css 
and lunch/static/lunch/css for the subpage CSS files) ---- */

#tabs a img {
	width:18px;
	height:18px;
	display:block;
	clear:both;
	margin:0px auto 7px auto;
}

#tabs a {
	border-radius: 12px 12px 12px 12px;
	font-size:0.8em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-events {
		background-image:url(../img/events.png);
		background-size: 18px 18px;
	}
	
	.ui-icon-news {
		background-image:url(../img/news.png);
		background-size: 18px 18px;
	}
	
	.ui-icon-lunch {
		background-image:url(../img/lunch.png);
		background-size: 18px 18px;
	}
}