@charset "UTF-8";
/* CSS Document */

/* ---- GLOBAL STYLESHEET DEFINITIONS ----*/

body { background: black; color: white; font-weight: bold; }

a { text-decoration:none;}

#credits { position:absolute !important; top:0 !important; left:0 !important; font-size:0.5em !important; text-align:left !important; line-height:1.4em !important; margin: 5px 0px 5px 5px !important; }

#credits a:hover {
	color:#0CF !important;	
}

.hidden {	
	display:none !important;
}

.visible {
	display:block;
}

/* ---- launcher page (check events/static/events/css 
and lunch/static/lunch/css for the subpage CSS files) ---- */

#tabs a img {
	width:18px;
	height:18px;
	display:block;
	clear:both;
	margin:0px auto 5px auto;
}

#tabs a {
	font-size:0.8em;
}

#tabs span {
	padding: 0px auto 3px auto !important;	
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-events {
		background-image:url(../img/events.png);
		background-size: 18px 18px;
	}
	
	.ui-icon-news {
		background-image:url(../img/news.png);
		background-size: 18px 18px;
	}
	
	.ui-icon-lunch {
		background-image:url(../img/lunch.png);
		background-size: 18px 18px;
	}
}